body {
    background-color: white;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

h1 {font-size: 40px;}
h2 {font-size: xx-large;}

.arc {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
}

.slides {
    border-right: 5px solid black;
    border-radius: 0% 35% 35% 0% / 0% 50% 50% 0% ;
    background: white;
    overflow-x: hidden;
    height: 100%;
    z-index: 1;
    width: 50%;
}

.slideSelector ol {
    list-style-type: none;
    margin-top: 18vh;
}
.slideSelector li {
    display: inline;
    font-size: larger;
    margin-right: 23px;
}

.active i::before {
    text-decoration: underline 6px solid black;
}

.slide {
    margin-top: 13vh;
    margin-left: 40px;
    width: 0px;
    transition: 2s;
    display: none;
}

.default {
    display: block;
    width: auto;
    transition: 2s;
}

.stickynote {
    background-image: url(https://t3.ftcdn.net/jpg/09/57/29/68/360_F_957296823_DV3hpOaXavHlLcKtwOBzLdqTIPcmN7oC.jpg);
    position: relative;
    width: 100%;
    height: 321px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.stickynote p {
    position: absolute;
    top: 23%;
    left: 23%;
    max-width: 189px;
    transform: rotate(-1.2deg);
}

.textContainerLeft {
    position: relative;
    margin-top: 28vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textContainerRight {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.links {
    width: 50%;
    height: 100%;
}

.links ol {
    margin-left: -72px;
}

.links li {
    list-style: none;
    background: #2A7B9B;
    transition: 0.3s;
}

.links li:hover {
    transform: scale(1.2)translateX(3vw);
    transition: 0.1s;
}

.links li a {
    color: black;
}

.links li p {
    font-size: x-large;
    margin-left: 62px;
    transition: 0.4s;
}