:root {
    --background-color: #09121B;
    --font-color: #F5A3E9;
    --padding: 5em;
}

body {
    font-family: "Zen Dots", sans-serif;
    letter-spacing: 0.05em;
    font-weight: normal;
    background-color: var(--background-color);
    color: var(--font-color);
}

.navbar {
    margin-top: 2%;
    display: flex;
}

.leftnav {
    padding-left: var(--padding);
    width: 50%;
}

.logo {
    height: 3rem;
}

.rightnav {
    padding-right: var(--padding);
    height: 6rem;
    width: 50%;
}

.itemBar {
    display: flex;
    float: right;
    height: 0rem;
}

.navitem {
    text-align: center;
    margin-top: 0.4rem;
    margin-left: 2em;
    height: 2.2rem;
    color: var(--font-color);
}

.navitem:hover {
    text-underline-offset: 0.5em;
    text-decoration: underline;
    transition: 0.2s;
}

.active {
    color: #FFF2FF;
    text-underline-offset: 0.5em;
    text-decoration: underline;
}

.home {
    margin-left: var(--padding);
    margin-right: 3em;
    margin-top: 5%;
    display: flex;
}

.homeLeft {
    width: 50%;
    margin-right: 5%;
}

.homeShowcase {
    width: 100%;
    transform: scale(0.9);
    margin-top: 2em;
}

.carbontext {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #37a34d;
}

.carbontext .carbonbadge {
    visibility: hidden;
    background-color: #37a34d;
    width: 15em;
    height: 0em;
    transition: 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    overflow: hidden;
    color: #fff;
    text-align: center;
    border-radius: 56px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.carbontext .carbonbadge::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #37a34d transparent transparent transparent;
}

.carbontext:hover .carbonbadge {
    visibility: visible;
    height: 15em;
    transition: 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    overflow: hidden;
}

.badge {
    height: 15em;
}

.gitRef {
    color: var(--font-color);
    text-decoration: none;
    transition: .5s;
}

.gitRef:hover {
    color: #FFF2FF;
    transition: .2s;
}

.homeRight {
    width: 50%;
    margin-top: -8%;
}

.projectShowcase {
    width: 100%;
    transform: scale(0.7);
    margin-top: 2em;
}

.projects {
    margin-left: 5em;
    margin-right: 3em;
    margin-top: 5%;
    display: none;
}


.projectLeft {
    width: 50%;
    font-weight: 400;
    letter-spacing: 0.8px;
}

.projectLeft h1 {
    font-weight: inherit;
    letter-spacing: inherit;
}

.projectLeft h3 {
    font-weight: inherit;
    letter-spacing: inhert;
}

.projectRight {
    margin-top: -8%;
    width: 50%;
}


.projectSelector {
    list-style: none;
}

.projectSelector a {
    color: var(--font-color);
    text-decoration: none;
}

.projectSelectorItem {
    line-height: 0em;
    text-indent: 1em;
    border: 1px rgb(85, 85, 85) solid;
    transition: 0.2s;
}

.projectRollup {
    margin-left: 1em;
    text-indent: 0;
    padding-bottom: 1em;
    max-height: 0px;
    display: none;
    transition: max-height 5s ease-in;
}

.activeRoller {
    max-height: 100%;
    display: block;
}

.projectRollupText {
    line-height: normal;
    margin-right: 1em;
    font-weight: 100 !important;
}

.projectRollupText h4 {
    font-weight: 100 !important;
}

.projectRollup button {
    border-radius: 0;
}

.projectSelectorItem:hover {
    transform: scale(1.1);
}

.projectSelectorItem:active {
    background-color: rgb(85, 85, 85);
    color: white;
}

.about {
    display: none;
    margin-left: var(--padding);
    margin-right: 3em;
    margin-top: 5%;
}

.aboutLeft {
    width: 50%;
    margin-right: 5%;
}

.aboutRight {
    width: 50%;
    margin-top: -5%;
}

.contact {
    display: none;
    margin-left: var(--padding);
    margin-right: 3em;
    margin-top: 5%;
    display: none;
}

.contactLeft {
    width: 50%;
    margin-right: 5%;
}

.contactRight {
    width: 50%;
    margin-top: 3%;
}

.minibar {
    display: flex;
    margin-left: -1em;
}

.contactForm {
    line-height: 0;
}

.contact input {
    width: 80%;
    padding: 3%;
    background-color: transparent;
    border: 2px white solid;
    color: white;
    margin-left: -1em;
}

.special {
    width: auto !important;
    padding: 0% !important;
    background-color: transparent;
    border: none !important;
    transition: 0.3s cubic-bezier(0.82, 0.26, 0.93, 1.68);
    margin-top: 13px;
}


button {
    width: 30%;
    padding: 3%;
    background-color: transparent;
    color: var(--font-color);
    border: 2px white solid;
    border-radius: 2px;
    transition: 0.3s cubic-bezier(0.82, 0.26, 0.93, 1.68);
    margin-top: 13px;
    z-index: 2147483649;
}

button:hover {
    box-shadow: 6px 6px 0px 0px green;
    border-radius: 0px;
    transform: translateX(-6px)translateY(-6px);
    color: var(--font-color);
}

.contact textarea {
    width: 80%;
    padding: 3%;
    background-color: transparent;
    border: 2px white solid;
    color: white;
    margin-left: -1em;
    max-width: 80%;
    min-width: 80%;
}

@media screen and (max-width: 330px) {
    :root {
        --padding: 0em;
    }
}

@media screen and (max-width: 430px) {
    :root {
        --padding: 1em;
    }
}

@media screen and (max-width: 500px) {
    :root {
        --padding: 2em;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --padding: 3em;
    }
}

@media screen and (max-width: 864px) {
    .navbar {
        display: block;
    }

    .rightnav {
        margin-left: calc(var(--padding) - 30px);
        width: max-content;
        height: auto;
        position: relative;
        padding-right: 0;
        height: 6rem;
        width: 50%;
    }

    .itemBar {
        mask-image: linear-gradient(to right, transparent 0%, black 48px, black calc(100% - 48px), transparent 100%);
        width: max-content;
        max-width: calc(200% - var(--padding));
        height: auto;
        overflow: auto;
        direction: ltr;
        text-align: left;
        float: none;
    }

    .home {
        display: block;
    }

    .homeLeft {
        width: 100%;
    }

    .homeRight {
        width: 100%;
        margin-top: 0em;
    }

    .projectShowcase {
        width: 100%;
        transform: scale(1);
        margin-top: 2em;
    }

    .projectLeft {
        width: 100%;
    }

    .projectRight {
        margin-top: 2em;
        width: 100%;
    }

    .projectShowcase {
        width: 100%;
        transform: scale(1);
        margin-top: 2em;
    }

    .projectSelector {
        margin-left: -4em;
    }

    .projectSelectorItem {
        width: 100%;
    }


    .aboutLeft {
        width: 100%;
    }

    .aboutRight {
        width: 100%;
    }

    .contactLeft {
        width: 100%;
    }

    .contactRight {
        width: 100%;
    }

    .contact button {
        width: 87%;
        padding: 3%;
        background-color: transparent;
        color: var(--font-color);
        border: 2px white solid;
        border-radius: 2px;
        transition: 0.3s cubic-bezier(0.82, 0.26, 0.93, 1.68);
        margin-top: 13px;
        z-index: 2147483649;
    }
}